.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    justify-content: space-between;
}