<app-header></app-header>
<div class="container">
    <div class="container-2">
        <div class="products">
            <div class="product-card">
                <div class="product-card-img-container">
                    Bolo de Morango
                    <img src="cake-1" alt="Bolo de morango rosa" class="product-card-img">
                </div>
                <div class="product-info">
                    <h6 class="product-cod">Cód: 221980</h6>
                    <p class="product-description">Delicioso bolo de morango com cobertura cremosa e recheio suave.</p>
                    <p class="product-description">Ingredientes: Farinha, morango, açúcar, ovos, creme de leite.</p>
                    <h3 class="product-price">R$79,99</h3>
                    <input type="number" class="input-quantity" min="1" value="1">
                    <button class="buy">ADD TO CART</button>
                </div>
            </div>
            
            <div class="product-card">
                <div class="product-card-img-container">
                    Bolo de Chocolate
                    <img src="cake-2" alt="Bolo de chocolate" class="product-card-img">
                </div>
                <div class="product-info">
                    <h6 class="product-cod">Cód: 441980</h6>
                    <p class="product-description">Bolo de chocolate delicioso com recheio cremoso.</p>
                    <p class="product-description">Ingredientes: Farinha, cacau, açúcar, ovos, creme de leite.</p>
                    <h3 class="product-price">R$89,99</h3>
                    <input type="number" class="input-quantity" min="1" value="1">
                    <button class="buy">ADD TO CART</button>
                </div>
            </div>
            
            <div class="product-card">
                <div class="product-card-img-container">
                    Bolo de Baunilha
                    <img src="cake-3" alt="Bolo de baunilha" class="product-card-img">
                </div>
                <div class="product-info">
                    <h6 class="product-cod">Cód: 771980</h6>
                    <p class="product-description">Bolo leve de baunilha com cobertura cremosa.</p>
                    <p class="product-description">Ingredientes: Farinha, baunilha, açúcar, ovos, creme de leite.</p>
                    <h3 class="product-price">R$85,99</h3>
                    <input type="number" class="input-quantity" min="1" value="1">
                    <button class="buy">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</div>