<div>
    <form [formGroup]="loginForm">
        <label for="username">Username: </label>
        <input type="text" id="username" class="border" [formControl]="loginForm.controls.username">
        <br/>

        <label for="password">Password: </label>
        <input type="text" id="password" class="border" [formControl]="loginForm.controls.password"/>
        <br/>

        <button (click)="logar()">Logar</button>
    </form>

    {{ loginForm.controls.username.value }}
    {{ loginForm.controls.password.value }}
    {{ loginForm.valid }}
</div>
