<!-- <div class="container-login">
    <div class="container-2">
        <div class="login-image"></div>
        <div class="login-box">
            <h2 class="title-login">LOGIN</h2>
            <div class="login-subbox">
                <label for="username" class="subtitle-login">Username:</label>
                <input type="text" id="username" class="border" [(ngModel)]="username">
                <label for="password" class="subtitle-login">Password:</label>
                <input type="text" id="password" class="border" [(ngModel)]="password">
            </div>
            <button (click)="logar()" class="button-logar">Logar</button>

            {{ username() }}
        </div>
    </div>
</div> -->

<div>
    <form [formGroup]="loginForm">
        <label for="username">Username: </label>
        <input type="text" id="username" class="border" [formControl]="loginForm.controls.username">
        <br/>

        <label for="password">Password: </label>
        <input type="text" id="password" class="border" [formControl]="loginForm.controls.password"/>
        <br/>

        <button (click)="logar()">Logar</button>
    </form>

    {{ loginForm.controls.username.value }}
    {{ loginForm.controls.password.value }}
    {{ loginForm.valid }}
</div>
